div {
	box-sizing: border-box;
}
.farm-grid {
	margin-top: 10px;
	position: relative;
	background-color: #320;
	width: 550px;
	height: 550px;
	cursor: pointer;

}
button {
	width: 175px;
}
.main-contain {
	position: relative;
	text-align: center;
	width: 500px;
	height: 800px;
	margin: 5px auto;
}

.farm-plot {
	position: absolute;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 55px;
	height: 55px;
	margin: 0px;
	border: solid 2px;
	border-radius: 2px;
	cursor: pointer;
	font: bold 15px Arial;
	-webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
  	user-select: none;
}	

.purchased {
	background-color: #652;

}

.empty {
	background-color: #652;
	border-color: #541;
	color: #320;
}

.planted {
	background-color: #BB5;
	border-color: #990;
	color: #770;
}

.ready-harvest {
	background-color: #5B5;
	border-color: #393;
	color: #171;
}